<nav>
    <ul>
    <li><a href="/">home</a></li>    
            <% if(!authStatus){ %>
                <li><a href="/login">login</a></li>
            <%} else { %>
                <li><a href="/logout">logout</a></li>
            <% } %>
        <li><a href="https://rc5-npm.herokuapp.com/admin/data">Admin</a></li>
    </li>
    </ul>
</nav>